<div class="flex justify-content-center">
    <ul class="content-li flex direction-row gap-15 ">
        <li>
            <a [routerLink]="['/']" >Sueters</a>
        </li>
        <li>
            <a [routerLink]="['/']" >Polos</a>
        </li>
        <li>
            <a [routerLink]="['/']" >Bolsos</a>
        </li>
        <li>
            <a [routerLink]="['/']" >Fundas de Laptop</a>
        </li>
        <li>
            <a [routerLink]="['/']" >Bolsos</a>
        </li>
        <li>
            <a [routerLink]="['/']" >Tazas</a>
        </li>
        <li>
            <a [routerLink]="['/']" >Stickers</a>
        </li>
    </ul>
</div>
